div(style="width: 180px !important;")
    div(star-rating ng-init="angularjs = 5" ng-model="angularjs" text="'AngularJS'")
    div(star-rating ng-init="angular24 = 4" ng-model="angular24" text="'Angular 2 & 4'")
    div(star-rating ng-init="angularcli = 4" ng-model="angularcli" text="'Angular CLI'")