div(star-rating ng-init="git=4" ng-model="git" text="'Git'")
div(star-rating ng-init="flow = 4" ng-model="flow" text="'Git flow'")
div(star-rating ng-init="tortoise=4" ng-model="tortoise" text="'TortoiseGit'")
