div(star-rating ng-init="mongodb = 3" ng-model="mongodb" text="'MongoDB'")
div(star-rating ng-init="mongoose = 4" ng-model="mongoose" text="'Mongoose'")
div(star-rating ng-init="mongolab = 3" ng-model="mongolab" text="'MongoLab'")