div(star-rating ng-init="es5 = 5" ng-model="es5" text="'EcmaScript5'")
div(star-rating ng-init="es6 = 4" ng-model="es6" text="'EcmaScript6'")
div(star-rating ng-init="es7 = 2" ng-model="es7" text="'EcmaScript7'")